body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #e2e6ed, #fafcff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: rgb(35, 27, 99);
}

.contenedor {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 15px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  color: #333;
}

input::placeholder {
  color: #aaa;
}

button {
  padding: 12px;
  background-color: #4b3f76;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #2e2748;
}

button:active {
  transform: scale(0.98);
}
