body {
    background: rgba(0, 0, 0, 0.4) no-repeat center center;
    background-image: url(/Imagenes/Fondo.jpg);
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
}

/* Parte superior de la página */
*{
    margin: 0;
    padding: 0;
}

#Princ{
    background: rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.863);
    display: flex;
    justify-content:space-evenly;
    margin: 0%, 1%;
}



#Princ ul{
    display: flex;
    align-items: center;
    width: 100%;
}
 

#Princ li{
    list-style-type: none;
    margin-left: 2%;
}
#Princ img{
    width: 20%;
    margin-top: 10%;
}



#Princ img#Logo{
    width: 40%;
    margin-top: 5%;
    margin-left: 40%;
    border-radius: 50%;
}
#Princ img#Titulo{
    width: 140%;
    margin-top: 5%;
    margin-left: -20%;
 
}
#Princ img#Lupa{
    margin-left: 40%;
 
}



h2{
    color: #000;
    background-color: rgba(255, 255, 255, 0.863);
    font-size: 300%;
    text-align: center;
    margin: 2%;
}

/* Categorias */

#Categorias ul{
    background-color: rgba(255, 255, 255, 0.863);
    display: flex ;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2%;
}
 
#Categorias li{
    list-style-type: none;
    text-align: center;
    background-color:rgba(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    width: 30%;
    font-size: clamp(1.125rem, 2.5vw, 1.5625rem);
}

#Categorias li:hover{
    background-color: rgb(38, 99, 116);
    color: white;
}
#Categorias img{
    width: 40%;
}
#Categorias li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
